Repository nodejs/api-docs-tooling: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(types,css): fix type parsing, and css headers (#379)
  src/generators/metadata/__tests__/slugger.test.mjs
  src/generators/metadata/constants.mjs
  src/generators/metadata/utils/parse.mjs
  src/generators/metadata/utils/slugger.mjs
  src/generators/web/ui/index.css
  src/utils/parser/__tests__/index.test.mjs
  src/utils/parser/constants.mjs
  src/utils/parser/index.mjs
  src/utils/parser/slugger.mjs
  src/utils/queries/index.mjs
Due: eslint --fix, prettier --write

chore(queries): organize and test
  src/generators/addon-verify/constants.mjs
  src/generators/addon-verify/index.mjs
  src/generators/api-links/constants.mjs
  src/generators/api-links/utils/extractExports.mjs
  src/generators/json-simple/index.mjs
  src/generators/jsx-ast/utils/buildContent.mjs
  src/generators/jsx-ast/utils/buildPropertyTable.mjs
  src/generators/jsx-ast/utils/buildSignature.mjs
  src/generators/legacy-html/utils/buildContent.mjs
  src/generators/legacy-json/constants.mjs
  src/generators/legacy-json/utils/parseList.mjs
  src/generators/legacy-json/utils/parseSignature.mjs
  src/generators/metadata/utils/parse.mjs
  src/linter/constants.mjs
  src/linter/rules/duplicate-stability-nodes.mjs
  src/linter/rules/invalid-change-version.mjs
  src/linter/rules/missing-metadata.mjs
  src/parsers/__tests__/markdown.test.mjs
  src/parsers/markdown.mjs
  src/utils/parser/constants.mjs
  src/utils/parser/index.mjs
  src/utils/queries/__tests__/regex.test.mjs
  src/utils/queries/__tests__/testRegExp.mjs
  src/utils/queries/index.mjs
  src/utils/queries/regex.mjs
  src/utils/queries/unist.mjs
Due: eslint --fix, prettier --write

fixup!
  src/generators/metadata/utils/parse.mjs
Due: eslint --fix, prettier --write

fixup!
  src/generators/legacy-json/utils/parseList.mjs
  src/parsers/markdown.mjs
  src/utils/queries/__tests__/regex.test.mjs
  src/utils/queries/index.mjs
  src/utils/queries/regex.mjs
  src/utils/queries/unist.mjs
Due: eslint --fix, prettier --write

fixup!
  src/utils/queries/unist.mjs
Due: eslint --fix, prettier --write

feat(metabar): improve headings and add stability (#381)
  src/generators/jsx-ast/utils/buildBarProps.mjs
  src/generators/web/ui/components/MetaBar/index.jsx
  src/generators/web/ui/components/MetaBar/index.module.css
Due: eslint --fix, prettier --write

feat: camelize llm_description
  src/__tests__/metadata.test.mjs
  src/generators/llms-txt/utils/__tests__/buildApiDocLink.test.mjs
  src/generators/llms-txt/utils/buildApiDocLink.mjs
  src/linter/constants.mjs
  src/linter/rules/__tests__/missing-metadata.test.mjs
  src/linter/rules/missing-metadata.mjs
  src/metadata.mjs
  src/types.d.ts
  src/utils/parser/__tests__/index.test.mjs
  src/utils/parser/index.mjs
Due: eslint --fix, prettier --write

fix: trim descriptions
  src/generators/llms-txt/utils/buildApiDocLink.mjs
Due: eslint --fix, prettier --write

fix: handle multi-line paragraphs
  src/utils/unist.mjs
Due: eslint --fix, prettier --write

refactor: conventions
  src/linter/constants.mjs
  src/linter/rules/missing-metadata.mjs
Due: eslint --fix, prettier --write

perf: improve perf with more delegation
  .changeset/html-streaming-pages.md
  packages/core/src/utils/configuration/index.mjs
  packages/core/src/utils/remark-shiki.mjs
  packages/core/src/utils/remark.mjs
  packages/core/src/utils/type-annotations/__tests__/hast.test.mjs
  packages/core/src/utils/type-annotations/hast.mjs
  packages/core/src/utils/type-annotations/highlighted.mjs
  packages/node-legacy/src/legacy-html/generate.mjs
  packages/node-legacy/src/legacy-html/utils/buildContent.mjs
  packages/react/src/html/README.md
  packages/react/src/html/__tests__/generate.test.mjs
  packages/react/src/html/bundlers/__tests__/vite.test.mjs
  packages/react/src/html/bundlers/vite.mjs
  packages/react/src/html/constants.mjs
  packages/react/src/html/generate.mjs
  packages/react/src/html/index.mjs
  packages/react/src/html/template.html
  packages/react/src/html/types.d.ts
  packages/react/src/html/utils/__tests__/all.test.mjs
  packages/react/src/html/utils/__tests__/processing.test.mjs
  packages/react/src/html/utils/all.mjs
  packages/react/src/html/utils/generate.mjs
  packages/react/src/html/utils/minify.mjs
  packages/react/src/html/utils/processing.mjs
  packages/react/src/html/utils/render.mjs
  packages/react/src/jsx-ast/README.md
  packages/react/src/jsx-ast/__tests__/generate.test.mjs
  packages/react/src/jsx-ast/generate.mjs
  packages/react/src/jsx-ast/index.mjs
  packages/react/src/jsx-ast/types.d.ts
  packages/react/src/jsx-ast/utils/buildContent.mjs
  packages/react/src/jsx-ast/utils/plugins/__tests__/transformer.test.mjs
  packages/react/src/jsx-ast/utils/plugins/transformer.mjs
  packages/react/src/jsx-ast/utils/remark.mjs
  packages/react/src/jsx-ast/utils/synthetic/__tests__/all.test.mjs
  packages/react/src/jsx-ast/utils/synthetic/all.mjs
Due: eslint --fix, prettier --write

ci: allow release-assets.githubusercontent.com egress in update-type-map
  .github/workflows/update-type-map.yml
Due: prettier --write

refactor(core): simplify parsers with Array.from map function (#1084)
  packages/core/src/parsers/markdown.mjs
Due: eslint --fix, prettier --write

ci: allow release-assets.githubusercontent.com egress in update-type-map (#1091)
  .github/workflows/update-type-map.yml
Due: prettier --write

test: support platform-specific paths
  packages/core/src/generators/ast/__tests__/generate.test.mjs
  packages/react/src/html/utils/__tests__/copying.test.mjs
  scripts/__tests__/comparators.test.mjs
Due: eslint --fix, prettier --write

fix: show a focus outline on the copy button (#1087)
  .changeset/copy-button-focus.md
  packages/node-legacy/src/legacy-html/assets/style.css
Due: none

test: support platform-specific paths (#1092)
  packages/core/src/generators/ast/__tests__/generate.test.mjs
  packages/react/src/html/utils/__tests__/copying.test.mjs
  scripts/__tests__/comparators.test.mjs
Due: eslint --fix, prettier --write

fixup!
  .changeset/html-streaming-pages.md
  packages/core/src/utils/configuration/constants.mjs
  packages/core/src/utils/configuration/index.mjs
  packages/react/src/html/README.md
  packages/react/src/html/__tests__/generate.test.mjs
  packages/react/src/html/bundlers/vite.mjs
  packages/react/src/html/generate.mjs
  packages/react/src/html/types.d.ts
  packages/react/src/html/utils/__tests__/all.test.mjs
  packages/react/src/html/utils/all.mjs
  packages/react/src/html/utils/generate.mjs
  packages/react/src/html/utils/processing.mjs
  packages/react/src/html/utils/render.mjs
  packages/react/src/jsx-ast/generate.mjs
  packages/react/src/jsx-ast/utils/buildContent.mjs
Due: eslint --fix, prettier --write

chore: enable `minimumReleaseAgeExcludePrune`
  package.json
  pnpm-workspace.yaml
Due: prettier --write

chore: update
  pnpm-workspace.yaml
Due: none

perf(core): overlap file reads within ast generator chunks
  packages/core/src/generators/ast/generate.mjs
Due: eslint --fix, prettier --write

Update html-streaming-pages.md
  .changeset/html-streaming-pages.md
Due: none

perf: improve perf with more delegation (#1090)
  .changeset/html-streaming-pages.md
  packages/core/src/utils/configuration/constants.mjs
  packages/core/src/utils/configuration/index.mjs
  packages/core/src/utils/remark-shiki.mjs
  packages/core/src/utils/remark.mjs
  packages/core/src/utils/type-annotations/__tests__/hast.test.mjs
  packages/core/src/utils/type-annotations/hast.mjs
  packages/core/src/utils/type-annotations/highlighted.mjs
  packages/node-legacy/src/legacy-html/generate.mjs
  packages/node-legacy/src/legacy-html/utils/buildContent.mjs
  packages/react/src/html/README.md
  packages/react/src/html/__tests__/generate.test.mjs
  packages/react/src/html/bundlers/__tests__/vite.test.mjs
  packages/react/src/html/bundlers/vite.mjs
  packages/react/src/html/constants.mjs
  packages/react/src/html/generate.mjs
  packages/react/src/html/index.mjs
  packages/react/src/html/template.html
  packages/react/src/html/types.d.ts
  packages/react/src/html/utils/__tests__/all.test.mjs
  packages/react/src/html/utils/__tests__/processing.test.mjs
  packages/react/src/html/utils/all.mjs
  packages/react/src/html/utils/generate.mjs
  packages/react/src/html/utils/minify.mjs
  packages/react/src/html/utils/processing.mjs
  packages/react/src/html/utils/render.mjs
  packages/react/src/jsx-ast/README.md
  packages/react/src/jsx-ast/__tests__/generate.test.mjs
  packages/react/src/jsx-ast/generate.mjs
  packages/react/src/jsx-ast/index.mjs
  packages/react/src/jsx-ast/types.d.ts
  packages/react/src/jsx-ast/utils/buildContent.mjs
  packages/react/src/jsx-ast/utils/plugins/__tests__/transformer.test.mjs
  packages/react/src/jsx-ast/utils/plugins/transformer.mjs
  packages/react/src/jsx-ast/utils/remark.mjs
  packages/react/src/jsx-ast/utils/synthetic/__tests__/all.test.mjs
  packages/react/src/jsx-ast/utils/synthetic/all.mjs
Due: eslint --fix, prettier --write

chore: enable `minimumReleaseAgeExcludePrune` (#1093)
  package.json
  pnpm-workspace.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,jsx}
  prettier --write: (any of: *.{js,mjs,jsx}) or (any of: *.{json,yml})
