Repository nodejs/api-docs-tooling: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

fixup!
  src/generators/web/constants.mjs
  src/generators/web/utils/generate.mjs
Due: eslint --fix, prettier --write

feat(web): improve deprecation page
  src/generators/jsx-ast/constants.mjs
  src/generators/jsx-ast/utils/buildContent.mjs
  src/generators/web/ui/index.css
Due: eslint --fix, prettier --write

fixup!
  src/generators/jsx-ast/utils/buildContent.mjs
Due: eslint --fix, prettier --write

fix(win): include drive letter (#364)
  src/generators/web/constants.mjs
  src/generators/web/utils/generate.mjs
Due: eslint --fix, prettier --write

fix(regexp): organize
  src/generators/json-simple/index.mjs
  src/generators/jsx-ast/utils/buildContent.mjs
  src/generators/jsx-ast/utils/buildPropertyTable.mjs
  src/generators/jsx-ast/utils/buildSignature.mjs
  src/generators/legacy-html/utils/buildContent.mjs
  src/generators/legacy-json/utils/parseList.mjs
  src/generators/metadata/utils/parse.mjs
  src/linter/rules/duplicate-stability-nodes.mjs
  src/linter/rules/invalid-change-version.mjs
  src/utils/parser/constants.mjs
  src/utils/parser/index.mjs
  src/utils/queries/index.mjs
  src/utils/queries/regex.mjs
  src/utils/queries/unist.mjs
Due: eslint --fix, prettier --write

fixup!
  src/generators/metadata/utils/parse.mjs
  src/utils/queries/regex.mjs
Due: eslint --fix, prettier --write

feat: create logger module
  src/logger/__tests__/index.test.mjs
  src/logger/__tests__/logger.test.mjs
  src/logger/__tests__/transports/console.test.mjs
  src/logger/__tests__/transports/github.test.mjs
  src/logger/constants.mjs
  src/logger/index.mjs
  src/logger/logger.mjs
  src/logger/transports/console.mjs
  src/logger/transports/github.mjs
  src/logger/types.d.ts
  src/logger/utils/colors.mjs
  src/logger/utils/time.mjs
Due: eslint --fix, prettier --write

fix: correct return type
  src/logger/index.mjs
Due: eslint --fix, prettier --write

feat: remove console calls
  bin/commands/generate.mjs
  bin/commands/interactive.mjs
  bin/commands/lint.mjs
  bin/commands/list.mjs
  bin/utils.mjs
Due: eslint --fix, prettier --write

feat: replace linter reporters to transports
  README.md
  bin/commands/lint.mjs
  bin/commands/list.mjs
  src/linter/index.mjs
  src/linter/reporters/__tests__/console.test.mjs
  src/linter/reporters/__tests__/github.test.mjs
  src/linter/reporters/console.mjs
  src/linter/reporters/github.mjs
  src/linter/reporters/index.mjs
  src/linter/types.d.ts
  src/logger/index.mjs
  src/logger/transports/index.mjs
Due: eslint --fix, prettier --write

feat: change default logger level
  src/logger/logger.mjs
Due: eslint --fix, prettier --write

fix: init logger on list command
  .tool-versions
  bin/commands/list.mjs
Due: eslint --fix, prettier --write

feat: add array logging
  bin/commands/list.mjs
  src/logger/__tests__/logger.test.mjs
  src/logger/logger.mjs
  src/logger/types.d.ts
Due: eslint --fix, prettier --write

test: fix logger init
  src/logger/__tests__/index.test.mjs
Due: eslint --fix, prettier --write

chore: remove .tool-versions
  .tool-versions
Due: none

fix: missing logger init on generate command
  bin/commands/generate.mjs
  bin/commands/lint.mjs
  bin/commands/list.mjs
  src/logger/index.mjs
Due: eslint --fix, prettier --write

fix: github actions fn mapping
  src/logger/__tests__/transports/github.test.mjs
  src/logger/transports/github.mjs
Due: eslint --fix, prettier --write

fix: use utc timezone
  src/logger/__tests__/transports/console.test.mjs
  src/logger/__tests__/transports/github.test.mjs
  src/logger/utils/time.mjs
Due: eslint --fix, prettier --write

test: remove it.only
  src/logger/__tests__/logger.test.mjs
Due: eslint --fix, prettier --write

chore: ignore types files on coverage
  .c8rc.json
Due: prettier --write

feat(web): improve deprecation page (#365)
  src/generators/jsx-ast/constants.mjs
  src/generators/jsx-ast/utils/buildContent.mjs
  src/generators/web/ui/index.css
Due: eslint --fix, prettier --write

ci: set 3-day cooldown for Dependabot updates
  .github/dependabot.yml
Due: prettier --write

ci: fix Dependabot format group typo
  .github/dependabot.yml
Due: prettier --write

chore(deps): reduce size of deps (#360)
  .lintstagedrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/generators/orama-db/index.mjs
Due: eslint --fix, prettier --write

ci: set 3-day cooldown for Dependabot updates (#369)
  .github/dependabot.yml
Due: prettier --write

chore: ignore types files on coverage (#368)
  .c8rc.json
Due: prettier --write

refactor: use default exports
  src/logger/transports/console.mjs
  src/logger/transports/github.mjs
  src/logger/transports/index.mjs
Due: eslint --fix, prettier --write

refactor: remove namespace gh import
  src/logger/transports/github.mjs
Due: eslint --fix, prettier --write

refactor: remove @ts-check
  src/linter/utils/yaml.mjs
  src/logger/index.mjs
Due: eslint --fix, prettier --write

refactor: remove module check
  src/logger/__tests__/logger.test.mjs
  src/logger/logger.mjs
Due: eslint --fix, prettier --write

test: fix imports
  src/logger/__tests__/transports/console.test.mjs
  src/logger/__tests__/transports/github.test.mjs
Due: eslint --fix, prettier --write

fix(regexp): re-use common patterns
  src/utils/parser/constants.mjs
Due: eslint --fix, prettier --write

Update src/utils/parser/constants.mjs
  src/utils/parser/constants.mjs
Due: eslint --fix, prettier --write

feat(deps): update dependabot config and add support for @node-core
  .github/dependabot.yml
  .github/workflows/update-internal-dependencies.yml
Due: prettier --write

fixup\!
  .github/workflows/update-internal-dependencies.yml
Due: prettier --write

fixup!
  .github/workflows/update-internal-dependencies.yml
Due: prettier --write

fix(types,css): fix type parsing, and css headers
  src/generators/metadata/__tests__/slugger.test.mjs
  src/generators/metadata/constants.mjs
  src/generators/metadata/utils/parse.mjs
  src/generators/metadata/utils/slugger.mjs
  src/generators/web/ui/index.css
  src/utils/parser/__tests__/index.test.mjs
  src/utils/parser/constants.mjs
  src/utils/parser/index.mjs
  src/utils/parser/slugger.mjs
  src/utils/queries/index.mjs
Due: eslint --fix, prettier --write

fix(regexp): re-use common patterns (#376)
  src/utils/parser/constants.mjs
Due: eslint --fix, prettier --write

fixup!
  src/utils/queries/index.mjs
Due: eslint --fix, prettier --write

feat(metabar): improve headings and add stability
  src/generators/jsx-ast/utils/buildBarProps.mjs
  src/generators/web/ui/components/MetaBar/index.jsx
  src/generators/web/ui/components/MetaBar/index.module.css
Due: eslint --fix, prettier --write
