Repository nodejs/api-docs-tooling: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

fix(deps): use exact version for rehype-shiki (#302)
  package-lock.json
  package.json
Due: prettier --write

feat: create metadata entries generator (#272)
  bin/commands/generate.mjs
  bin/utils.mjs
  src/generators.mjs
  src/generators/addon-verify/index.mjs
  src/generators/ast-js/index.mjs
  src/generators/index.mjs
  src/generators/json-simple/index.mjs
  src/generators/legacy-html/index.mjs
  src/generators/legacy-json/index.mjs
  src/generators/llms-txt/index.mjs
  src/generators/man-page/index.mjs
  src/generators/metadata/constants.mjs
  src/generators/metadata/index.mjs
  src/generators/metadata/tests/slugger.test.mjs
  src/generators/metadata/utils/parse.mjs
  src/generators/metadata/utils/slugger.mjs
  src/generators/orama-db/index.mjs
  src/loaders/markdown.mjs
  src/metadata.mjs
  src/parsers/markdown.mjs
  src/types.d.ts
Due: eslint --fix, prettier --write

fix(jsx-ast): use metadata generator
  src/generators/jsx-ast/index.mjs
Due: eslint --fix, prettier --write

feat(coverage): more accurate coverage reporting
  .c8rc.json
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

fix(jsx-ast): use metadata generator (#303)
  src/generators/jsx-ast/index.mjs
Due: eslint --fix, prettier --write

feat(coverage): more accurate coverage reporting (#304)
  .c8rc.json
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

feat(codecov): setup checks
  codecov.yml
Due: prettier --write

chore(test): organize test folders
  .prettierignore
  eslint.config.mjs
  src/__tests__/metadata.test.mjs
  src/generators/api-links/__tests__/fixtures.test.mjs
  src/generators/api-links/__tests__/fixtures.test.mjs.snapshot
  src/generators/api-links/__tests__/fixtures/buffer.js
  src/generators/api-links/__tests__/fixtures/class.js
  src/generators/api-links/__tests__/fixtures/exports.js
  src/generators/api-links/__tests__/fixtures/mod.js
  src/generators/api-links/__tests__/fixtures/prototype.js
  src/generators/api-links/__tests__/fixtures/reverse.js
  src/generators/api-links/__tests__/fixtures/root.js
  src/generators/jsx-ast/test/utils.test.mjs
  src/generators/jsx-ast/utils/__tests__/ast.test.mjs
  src/generators/jsx-ast/utils/__tests__/buildBarProps.test.mjs
  src/generators/jsx-ast/utils/__tests__/buildContent.test.mjs
  src/generators/jsx-ast/utils/__tests__/utils.mjs
  src/generators/man-page/utils/__tests__/converter.test.mjs
  src/linter/__tests__/fixtures/descriptors.mjs
  src/linter/__tests__/fixtures/issues.mjs
  src/linter/__tests__/fixtures/tree.mjs
  src/linter/__tests__/index.test.mjs
  src/linter/reporters/__tests__/console.test.mjs
  src/linter/reporters/__tests__/github.test.mjs
  src/linter/rules/__tests__/duplicate-stability-nodes.test.mjs
  src/linter/rules/__tests__/fixtures/invalid-change-version-subprocess.mjs
  src/linter/rules/__tests__/invalid-change-version.test.mjs
  src/linter/rules/__tests__/missing-introduced-in.test.mjs
  src/utils/__tests__/unist.test.mjs
  src/utils/parser/__tests__/index.test.mjs
  src/utils/queries/__tests__/index.test.mjs
Due: eslint --fix, prettier --write

fixup! ignore eslint and fixtures
  codecov.yml
Due: prettier --write

Update codecov.yml
  codecov.yml
Due: prettier --write

fixup!
  src/generators/api-links/__tests__/fixtures/mod.js
  src/generators/metadata/__tests__/slugger.test.mjs
  src/linter/reporters/__tests__/github.test.mjs
Due: eslint --fix, prettier --write

chore(test): organize test folders (#307)
  .prettierignore
  eslint.config.mjs
  src/__tests__/metadata.test.mjs
  src/generators/api-links/__tests__/fixtures.test.mjs
  src/generators/api-links/__tests__/fixtures.test.mjs.snapshot
  src/generators/api-links/__tests__/fixtures/buffer.js
  src/generators/api-links/__tests__/fixtures/class.js
  src/generators/api-links/__tests__/fixtures/exports.js
  src/generators/api-links/__tests__/fixtures/mod.js
  src/generators/api-links/__tests__/fixtures/prototype.js
  src/generators/api-links/__tests__/fixtures/reverse.js
  src/generators/api-links/__tests__/fixtures/root.js
  src/generators/jsx-ast/test/utils.test.mjs
  src/generators/jsx-ast/utils/__tests__/ast.test.mjs
  src/generators/jsx-ast/utils/__tests__/buildBarProps.test.mjs
  src/generators/jsx-ast/utils/__tests__/buildContent.test.mjs
  src/generators/jsx-ast/utils/__tests__/utils.mjs
  src/generators/man-page/utils/__tests__/converter.test.mjs
  src/generators/metadata/__tests__/slugger.test.mjs
  src/linter/__tests__/fixtures/descriptors.mjs
  src/linter/__tests__/fixtures/issues.mjs
  src/linter/__tests__/fixtures/tree.mjs
  src/linter/__tests__/index.test.mjs
  src/linter/reporters/__tests__/console.test.mjs
  src/linter/reporters/__tests__/github.test.mjs
  src/linter/rules/__tests__/duplicate-stability-nodes.test.mjs
  src/linter/rules/__tests__/fixtures/invalid-change-version-subprocess.mjs
  src/linter/rules/__tests__/invalid-change-version.test.mjs
  src/linter/rules/__tests__/missing-introduced-in.test.mjs
  src/utils/__tests__/unist.test.mjs
  src/utils/parser/__tests__/index.test.mjs
  src/utils/queries/__tests__/index.test.mjs
Due: eslint --fix, prettier --write

coverage: increase to ~48%
  src/generators/addon-verify/utils/__tests__/generateFileList.test.mjs
  src/generators/addon-verify/utils/__tests__/section.test.mjs
  src/generators/legacy-json/utils/__tests__/buildHierarchy.test.mjs
  src/generators/legacy-json/utils/__tests__/parseList.test.mjs
  src/generators/legacy-json/utils/__tests__/parseSignature.test.mjs
  src/generators/legacy-json/utils/buildHierarchy.mjs
  src/generators/legacy-json/utils/parseList.mjs
  src/generators/legacy-json/utils/parseSignature.mjs
Due: eslint --fix, prettier --write

Update src/generators/legacy-json/utils/__tests__/parseSignature.test.mjs
  src/generators/legacy-json/utils/__tests__/parseSignature.test.mjs
Due: eslint --fix, prettier --write

est: 49%
  src/generators/llms-txt/utils/__tests__/buildApiDocLink.test.mjs
  src/generators/llms-txt/utils/buildApiDocLink.mjs
  src/utils/__tests__/generators.test.mjs
Due: eslint --fix, prettier --write

coverage: increase to ~47% (#309)
  src/generators/addon-verify/utils/__tests__/generateFileList.test.mjs
  src/generators/addon-verify/utils/__tests__/section.test.mjs
  src/generators/legacy-json/utils/__tests__/buildHierarchy.test.mjs
  src/generators/legacy-json/utils/__tests__/parseList.test.mjs
  src/generators/legacy-json/utils/__tests__/parseSignature.test.mjs
  src/generators/legacy-json/utils/buildHierarchy.mjs
  src/generators/legacy-json/utils/parseList.mjs
  src/generators/legacy-json/utils/parseSignature.mjs
  src/generators/llms-txt/utils/__tests__/buildApiDocLink.test.mjs
  src/generators/llms-txt/utils/buildApiDocLink.mjs
  src/utils/__tests__/generators.test.mjs
Due: eslint --fix, prettier --write

fixup!
  codecov.yml
Due: prettier --write

feat(codecov): setup checks (#306)
  codecov.yml
Due: prettier --write

chore(docs): update `CONTRIBUTING.md` with additional information
  CONTRIBUTING.md
Due: none

fixup! typo
  CONTRIBUTING.md
Due: none

chore(lint): missing-metadata
  eslint.config.mjs
  src/linter/rules/__tests__/duplicate-stability-nodes.test.mjs
  src/linter/rules/__tests__/invalid-change-version.test.mjs
  src/linter/rules/__tests__/missing-introduced-in.test.mjs
  src/linter/rules/__tests__/missing-metadata.test.mjs
  src/linter/rules/__tests__/utils.mjs
  src/linter/rules/index.mjs
  src/linter/rules/missing-introduced-in.mjs
  src/linter/rules/missing-llm-description.mjs
  src/linter/rules/missing-metadata.mjs
  src/linter/utils/find.mjs
Due: eslint --fix, prettier --write

fix typo
  src/linter/constants.mjs
  src/linter/rules/missing-metadata.mjs
Due: eslint --fix, prettier --write

chore(docs): update `CONTRIBUTING.md` with additional information (#310)
  CONTRIBUTING.md
Due: none

fixup! feat(web): add web generator
  src/generators/web/client/components/MetaBar.jsx
Due: none

fix lockfile
  package-lock.json
Due: prettier --write

version selector
  package-lock.json
  package.json
  src/generators/jsx-ast/index.mjs
  src/generators/legacy-html/utils/buildDropdowns.mjs
  src/generators/web/client/components/SideBar.jsx
  src/utils/generators.mjs
Due: eslint --fix, prettier --write

slack code review
  package-lock.json
  package.json
  src/generators/jsx-ast/constants.mjs
  src/generators/jsx-ast/index.mjs
  src/generators/jsx-ast/utils/__tests__/buildBarProps.test.mjs
  src/generators/jsx-ast/utils/buildBarProps.mjs
  src/generators/jsx-ast/utils/transformer.mjs
  src/generators/web/client/components/CodeBox.jsx
  src/generators/web/client/components/MetaBar.jsx
  src/generators/web/client/components/SideBar.jsx
  src/utils/remark.mjs
Due: eslint --fix, prettier --write

80% patch cov
  src/generators/jsx-ast/utils/__tests__/buildContent.test.mjs
  src/generators/jsx-ast/utils/__tests__/utils.mjs
  tmp.json
Due: eslint --fix, prettier --write

oops
  tmp.json
Due: prettier --write

fixup! oops
  package-lock.json
  package.json
Due: prettier --write

footnotes
  src/generators/jsx-ast/utils/transformer.mjs
Due: eslint --fix, prettier --write

chore: enable object-shorthand rule
  eslint.config.mjs
  src/linter/reporters/index.mjs
Due: eslint --fix, prettier --write

chore: enable object-shorthand rule (#312)
  eslint.config.mjs
  src/linter/reporters/index.mjs
Due: eslint --fix, prettier --write

feat: improve changes issues positions
  src/linter/constants.mjs
  src/linter/rules/__tests__/invalid-change-version.test.mjs
  src/linter/rules/invalid-change-version.mjs
  src/linter/types.d.ts
  src/linter/utils/__tests__/yaml.mjs
  src/linter/utils/yaml.mjs
  src/utils/parser/index.mjs
Due: eslint --fix, prettier --write

fix: some fixes
  src/linter/rules/__tests__/invalid-change-version.test.mjs
  src/linter/rules/invalid-change-version.mjs
Due: eslint --fix, prettier --write

refactor: some improvements
  src/linter/rules/invalid-change-version.mjs
  src/linter/utils/yaml.mjs
Due: eslint --fix, prettier --write

refactor: code review
  src/linter/rules/__tests__/invalid-change-version.test.mjs
  src/linter/rules/invalid-change-version.mjs
Due: eslint --fix, prettier --write

test: create skippable test cases
  src/linter/rules/__tests__/invalid-change-version.test.mjs
Due: eslint --fix, prettier --write
