Repository nodejs/api-docs-tooling: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

fix: code style
  src/loader.mjs
Due: eslint --fix, prettier --write

fix: code style
  src/generators/legacy-html/index.mjs
Due: eslint --fix, prettier --write

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/pr.yml
Due: prettier --write

[StepSecurity] ci: Harden GitHub Actions (#114)
  .github/workflows/pr.yml
Due: prettier --write

feat: legacy json generator
  src/generators/index.mjs
  src/generators/legacy-json-all/index.mjs
  src/generators/legacy-json-all/types.d.ts
  src/generators/legacy-json/index.mjs
  src/generators/legacy-json/types.d.ts
  src/generators/legacy-json/utils/buildContent.mjs
  src/generators/legacy-json/utils/buildHierarchy.mjs
  src/metadata.mjs
  src/types.d.ts
Due: eslint --fix, prettier --write

Update src/generators/legacy-json-all/index.mjs
  src/generators/legacy-json-all/index.mjs
Due: eslint --fix, prettier --write

legacy-json-all, some cleanup
  src/generators/legacy-json-all/index.mjs
  src/generators/legacy-json/index.mjs
  src/generators/legacy-json/utils/buildContent.mjs
  src/generators/legacy-json/utils/buildSection.mjs
Due: eslint --fix, prettier --write

list item stuff
  src/generators/legacy-json/constants.mjs
  src/generators/legacy-json/types.d.ts
  src/generators/legacy-json/utils/buildHierarchy.mjs
  src/generators/legacy-json/utils/buildSection.mjs
Due: eslint --fix, prettier --write

some types
  src/generators/legacy-json/types.d.ts
  src/generators/legacy-json/utils/buildSection.mjs
Due: eslint --fix, prettier --write

parseSignature impl
  src/generators/legacy-json-all/types.d.ts
  src/generators/legacy-json/constants.mjs
  src/generators/legacy-json/types.d.ts
  src/generators/legacy-json/utils/buildHierarchy.mjs
  src/generators/legacy-json/utils/buildSection.mjs
Due: eslint --fix, prettier --write

fix tests
  src/test/metadata.test.mjs
Due: eslint --fix, prettier --write

descriptions
  package-lock.json
  package.json
  src/generators/legacy-json/utils/buildSection.mjs
Due: eslint --fix, prettier --write

fix sanitization alert
  src/generators/legacy-json/utils/buildSection.mjs
Due: eslint --fix, prettier --write

change comment style
  src/generators/legacy-json/constants.mjs
Due: eslint --fix, prettier --write

Apply suggestions from code review
  src/generators/legacy-json-all/index.mjs
Due: eslint --fix, prettier --write

code review
  src/generators/legacy-json-all/index.mjs
  src/generators/legacy-json/utils/buildHierarchy.mjs
Due: eslint --fix, prettier --write

cleanup comment and a regex error
  src/generators/legacy-json/utils/buildSection.mjs
Due: eslint --fix, prettier --write

Update src/generators/legacy-json/index.mjs
  src/generators/legacy-json/index.mjs
Due: eslint --fix, prettier --write

some fixes
  src/generators/legacy-json/index.mjs
  src/generators/legacy-json/utils/buildSection.mjs
Due: eslint --fix, prettier --write

expose introduced_in in metadata create
  src/metadata.mjs
Due: eslint --fix, prettier --write

tmp
  src/generators/json/index.mjs
  src/generators/json/schema.json
Due: eslint --fix, prettier --write

some more work
  src/generators/json/index.mjs
  src/generators/json/sample.json
  src/generators/json/schema.json
Due: eslint --fix, prettier --write

chore: of nodejs itself
  README.md
Due: none

fix + update
  src/generators/json-simple/index.mjs
  src/generators/legacy-html/index.mjs
  src/loader.mjs
  src/utils/progressBar.mjs
  src/utils/tests/progressBar.test.mjs
Due: eslint --fix, prettier --write

fix: codespell
  src/utils/tests/progressBar.test.mjs
Due: eslint --fix, prettier --write

chore(dependabot): increase interval
  .github/dependabot.yml
Due: prettier --write

fix: typo
  .github/dependabot.yml
Due: prettier --write

feat: add mandoc generator
  .github/workflows/codespell.yml
  README.md
  src/generators/index.mjs
  src/generators/man-page/index.mjs
  src/generators/man-page/template.1
  src/generators/man-page/utils/converter.mjs
  src/test/man-page.test.mjs
Due: eslint --fix, prettier --write

chore(dependabot): increase interval (#126)
  .github/dependabot.yml
Due: prettier --write

fixup! Resolve suggestions + Fixup trimming
  README.md
  src/generators/man-page/index.mjs
  src/generators/man-page/utils/converter.mjs
Due: eslint --fix, prettier --write

feat: add `man-page` generator (#125)
  .github/workflows/codespell.yml
  README.md
  src/generators/index.mjs
  src/generators/man-page/index.mjs
  src/generators/man-page/template.1
  src/generators/man-page/utils/converter.mjs
  src/test/man-page.test.mjs
Due: eslint --fix, prettier --write

chore: fixup `man-page` generator
  src/generators/man-page/index.mjs
  src/generators/man-page/template.1
Due: eslint --fix, prettier --write

fixup!
  src/generators/man-page/template.1
Due: none

fixup! chore: fixup `man-page` generator
  src/constants.mjs
  src/generators/man-page/index.mjs
Due: eslint --fix, prettier --write

chore: fixup `man-page` generator (#128)
  src/constants.mjs
  src/generators/man-page/index.mjs
  src/generators/man-page/template.1
Due: eslint --fix, prettier --write

chore: fix typo in `environment-variables-1` slug
  src/constants.mjs
Due: eslint --fix, prettier --write

chore: fix typo in `environment-variables-1` slug (#129)
  src/constants.mjs
Due: eslint --fix, prettier --write

wip
  fixtures/addons.md
  fixtures/assert.md
  fixtures/async_context.md
  src/generators/json-simple/index.mjs
  src/generators/legacy-html/index.mjs
  src/loader.mjs
  src/parser.mjs
  src/utils/generators.mjs
  src/utils/progressBar.mjs
  src/utils/tests/progressBar.test.mjs
Due: eslint --fix, prettier --write

remove
  fixtures/addons.md
  fixtures/assert.md
  fixtures/async_context.md
Due: none

tmp
  src/generators/legacy-json-all/index.mjs
  src/generators/legacy-json-all/types.d.ts
  src/generators/legacy-json/types.d.ts
  src/generators/legacy-json/utils/buildSection.mjs
  src/generators/legacy-json/utils/parseSignature.mjs
  src/metadata.mjs
  src/test/metadata.test.mjs
  src/types.d.ts
Due: eslint --fix, prettier --write
