Repository nodejs/api-docs-tooling: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

refactor: create metadata generator
  bin/commands/generate.mjs
  bin/utils.mjs
  src/generators.mjs
  src/generators/addon-verify/index.mjs
  src/generators/ast-js/index.mjs
  src/generators/index.mjs
  src/generators/json-simple/index.mjs
  src/generators/legacy-html/index.mjs
  src/generators/legacy-json/index.mjs
  src/generators/llms-txt/index.mjs
  src/generators/man-page/index.mjs
  src/generators/metadata/index.mjs
  src/generators/orama-db/index.mjs
  src/linter/tests/fixtures/issues.mjs
  src/loaders/markdown.mjs
  src/metadata.mjs
  src/parsers/markdown.mjs
  src/types.d.ts
Due: eslint --fix, prettier --write

fix: CryptoKey.algorithm type and other interfaces (#270)
  src/utils/parser/constants.mjs
Due: eslint --fix, prettier --write

chore(lint): use `console[xyz]` over `process`
  src/linter/reporters/console.mjs
Due: eslint --fix, prettier --write

fix tests
  src/linter/tests/reporters/console.test.mjs
Due: eslint --fix, prettier --write

fix(contributing) `i` -> `I`
  CONTRIBUTING.md
Due: none

fix(contributing) `i` -> `I` (#276)
  CONTRIBUTING.md
Due: none

feat(jsx): add `jsx` generator
  package-lock.json
  package.json
  src/constants.mjs
  src/generators/index.mjs
  src/generators/jsx/constants.mjs
  src/generators/jsx/index.mjs
  src/generators/jsx/utils/ast.mjs
  src/generators/jsx/utils/buildContent.mjs
  src/generators/jsx/utils/transformer.mjs
  src/generators/legacy-html/constants.mjs
  src/generators/legacy-html/utils/buildContent.mjs
  src/generators/legacy-html/utils/buildDropdowns.mjs
  src/generators/legacy-json/utils/buildSection.mjs
  src/linter/rules/invalid-change-version.mjs
  src/metadata.mjs
  src/threading/index.mjs
  src/utils/generators.mjs
  src/utils/remark.mjs
Due: eslint --fix, prettier --write

fixup! feat(jsx): add `jsx` generator
  src/utils/generators.mjs
Due: eslint --fix, prettier --write

chore(lint): use `console[xyz]` over `process` (#274)
  src/linter/reporters/console.mjs
  src/linter/tests/reporters/console.test.mjs
Due: eslint --fix, prettier --write

feat: introduce raw ast linter
  bin/commands/generate.mjs
  bin/commands/lint.mjs
  bin/utils.mjs
  package-lock.json
  package.json
  src/linter/context.mjs
  src/linter/engine.mjs
  src/linter/index.mjs
  src/linter/rules/index.mjs
  src/linter/rules/invalid-change-version.mjs
  src/linter/rules/missing-introduced-in.mjs
  src/linter/rules/missing-llm-description.mjs
  src/linter/tests/engine.test.mjs
  src/linter/tests/fixtures/entries.mjs
  src/linter/tests/fixtures/invalidChangeVersion-environment.mjs
  src/linter/tests/fixtures/issues.mjs
  src/linter/tests/fixtures/report.mjs
  src/linter/tests/fixtures/tree.mjs
  src/linter/tests/index.test.mjs
  src/linter/tests/rules/invalid-change-version.test.mjs
  src/linter/tests/rules/missing-introduced-in.test.mjs
  src/linter/types.d.ts
  src/linter/utils/find.mjs
  src/linter/utils/rules.mjs
  src/parsers/markdown.mjs
  src/utils/parser/index.mjs
  src/utils/queries/index.mjs
Due: eslint --fix, prettier --write

fix: add introduced_in regex optional whitespace
  src/linter/rules/missing-introduced-in.mjs
Due: eslint --fix, prettier --write

fix: abort generation early
  bin/commands/generate.mjs
Due: eslint --fix, prettier --write

refactor: better name
  src/linter/context.mjs
  src/linter/tests/fixtures/descriptors.mjs
  src/linter/tests/index.test.mjs
  src/linter/types.d.ts
Due: eslint --fix, prettier --write

test: fix test names
  src/linter/tests/rules/invalid-change-version.test.mjs
Due: eslint --fix, prettier --write

refactor: some improvements
  bin/commands/generate.mjs
  bin/commands/lint.mjs
  src/generators/legacy-json/utils/buildSection.mjs
  src/linter/constants.mjs
  src/linter/context.mjs
  src/linter/rules/invalid-change-version.mjs
  src/linter/rules/missing-introduced-in.mjs
  src/linter/rules/missing-llm-description.mjs
  src/utils/array.mjs
Due: eslint --fix, prettier --write

fix: remove unknown option
  bin/commands/generate.mjs
Due: eslint --fix, prettier --write

test: info issues position
  ast.json
  src/linter/tests/fixtures/descriptors.mjs
  src/linter/tests/fixtures/issues.mjs
  src/linter/tests/reporters/github.test.mjs
Due: eslint --fix, prettier --write

fix: use context report
  src/linter/rules/duplicate-stability-nodes.mjs
  src/linter/tests/rules/duplicate-stability-nodes.test.mjs
Due: eslint --fix, prettier --write

duplicate-stability-nodes
  src/linter/rules/duplicate-stability-nodes.mjs
  src/linter/rules/index.mjs
  src/linter/tests/rules/duplicate-stability-nodes.test.mjs
Due: eslint --fix, prettier --write

chore: delete ast.json
  ast.json
Due: prettier --write

test: fix info issue output
  src/linter/tests/reporters/console.test.mjs
Due: eslint --fix, prettier --write

fix: cross-platform line break
  src/utils/parser/index.mjs
Due: eslint --fix, prettier --write

better sidebar gen
  src/generators/jsx/constants.mjs
  src/generators/jsx/index.mjs
  src/generators/jsx/utils/buildBarProps.mjs
  src/generators/jsx/utils/buildContent.mjs
  src/generators/jsx/utils/transformer.mjs
  src/utils/generators.mjs
Due: eslint --fix, prettier --write

fix: remove thread pool loop
  bin/commands/generate.mjs
  src/generators/metadata/index.mjs
  src/generators/metadata/utils/parse.mjs
Due: eslint --fix, prettier --write

code review
  src/generators/jsx/utils/ast.mjs
  src/generators/jsx/utils/buildBarProps.mjs
  src/generators/jsx/utils/buildContent.mjs
  src/generators/jsx/utils/transformer.mjs
Due: eslint --fix, prettier --write

code review (x2)
  src/generators/jsx/constants.mjs
  src/generators/jsx/utils/ast.mjs
  src/generators/jsx/utils/buildBarProps.mjs
Due: eslint --fix, prettier --write

Update template.txt
  src/generators/llms-txt/template.txt
Due: none

Update template.txt (#279)
  src/generators/llms-txt/template.txt
Due: none

refactor: reorganize imports
  src/linter/tests/fixtures/invalidChangeVersion-environment.mjs
  src/linter/tests/rules/missing-introduced-in.test.mjs
Due: eslint --fix, prettier --write

test: create normalizeYamlSyntax tests
  src/utils/tests/parser.test.mjs
Due: eslint --fix, prettier --write

test: fix context assertion
  src/linter/tests/index.test.mjs
Due: eslint --fix, prettier --write

refactor: remove ts-check
  src/linter/rules/duplicate-stability-nodes.mjs
Due: eslint --fix, prettier --write

rebase
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

Update ci.yml
  .github/workflows/ci.yml
Due: prettier --write

fixup! chore(ci): improve ci
  .github/workflows/ci.yml
Due: prettier --write

chore(ci): improve ci (#281)
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

chore(readme): add badge
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none
